<html>

<head>
    <title>Case_study_2-Home</title>
</head>

<body>
    <h3>A Python-Flask based application to add new, search and display existing student entries</h3>
    <button><a href="newstudententry">Add new student</a></button><br><br>
    <button><a href="searchstudent">Search for a student by ID</a></button><br><br>
    <button><a href="displaystudentlist">Display all the students</a></button><br><br>
    <style>
        a {
            text-decoration-line: none;
        }
    </style>
</body>

</html>